In [2]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from  statsmodels.formula.api import ols

In [8]:
df = pd.read_excel("pHTreatment.xlsx")

In [9]:
df

           Treatments  Before   4 months  8 months  12 months
0        T0 (Control)     4.53      4.53      4.59       4.99
1         T1 (Azolla)     4.53      4.69      4.72       5.89
2          T2 (Grass)     4.53      5.13      5.68       5.24
3  T3(Water Hyacinth)     4.53      4.99      6.21       6.00
4           T4 (Nuts)     4.53      4.83      6.03       6.14
5      T5 (Azolla+WH)     4.53      4.80      5.54       5.73
6     T6 (Nuts+Grass)     4.53      5.02      5.96       5.99

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Treatments  7 non-null      object
 1   Before      7 non-null      float64
 2   4 months    7 non-null      float64
 3   8 months    7 non-null      float64
 4   12 months   7 non-null      float64
dtypes: float64(4), object(1)
memory usage: 408.0+ bytes

In [12]:
df.columns

Index(['Treatments', 'Before ', '4 months', '8 months', '12 months'], dtype='object')

In [13]:
fvalue, pvalue = stats.f_oneway(df['Before '],df['4 months'], df['8 months'], df['12 months'])
print(fvalue, pvalue)

1.3611895949538653e+01 2.1634519318795774e-05

In [26]:
# Ordinary Least Squares (OLS) model
model = ols('df["Before "] ~ df["12 months"]',data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                       sum_sq   df         F    PR(>F)
df["12 months"]  1.241885e-31  1.0  0.112448  0.750986
Residual         5.522026e-30  5.0       NaN       NaN

In [62]:
df = pd.read_excel("pHTreatment.xlsx")

13.611895949538653 2.1634519318795774e-05

In [34]:
df = df.T
df.columns

RangeIndex(start=0, stop=7, step=1)

In [53]:
treatment = df.iloc[0]
df.columns = treatment

Treatments,T0 (Control),T1 (Azolla),T2 (Grass),T3(Water Hyacinth),T4 (Nuts),T5 (Azolla+WH),T6 (Nuts+Grass)
Treatments,T0 (Control),T1 (Azolla),T2 (Grass),T3(Water Hyacinth),T4 (Nuts),T5 (Azolla+WH),T6 (Nuts+Grass)
Before,4.53,4.53,4.53,4.53,4.53,4.53,4.53
4 months,4.53,4.69,5.13,4.99,4.83,4.8,5.02
8 months,4.59,4.72,5.68,6.21,6.03,5.54,5.96
12 months,4.99,5.89,5.24,6.0,6.14,5.73,5.99

In [57]:
treat = ['T0',
 'T1',
 'T2',
 'T3',
 'T4',
 'T5',
 'T6']

In [58]:
df.columns = treat

In [59]:
df

             T0    T1    T2    T3    T4    T5    T6
Before     4.53  4.53  4.53  4.53  4.53  4.53  4.53
4 months   4.53  4.69  5.13  4.99  4.83   4.8  5.02
8 months   4.59  4.72  5.68  6.21  6.03  5.54  5.96
12 months  4.99  5.89  5.24   6.0  6.14  5.73  5.99

In [54]:
df = df.iloc[1:]
df

Treatments,T0 (Control),T1 (Azolla),T2 (Grass),T3(Water Hyacinth),T4 (Nuts),T5 (Azolla+WH),T6 (Nuts+Grass)
Before,4.53,4.53,4.53,4.53,4.53,4.53,4.53
4 months,4.53,4.69,5.13,4.99,4.83,4.8,5.02
8 months,4.59,4.72,5.68,6.21,6.03,5.54,5.96
12 months,4.99,5.89,5.24,6.0,6.14,5.73,5.99

In [63]:
df = pd.read_excel("pHTreatment.xlsx")
df = df.T
df.columns = treat
df = df.iloc[1:]
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

             T0    T1    T2    T3    T4    T5    T6
Before     4.53  4.53  4.53  4.53  4.53  4.53  4.53
4 months   4.53  4.69  5.13  4.99  4.83   4.8  5.02
8 months   4.59  4.72  5.68  6.21  6.03  5.54  5.96
12 months  4.99  5.89  5.24   6.0  6.14  5.73  5.99

In [64]:
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

0.7580147721237056 0.6105227261988948

In [69]:
df = pd.read_excel("OrganicCTreatment.xlsx")
fvalue, pvalue = stats.f_oneway(df['Before'],df['4 months'], df['8 months'], df['12 months'])
print(fvalue, pvalue)

3.789215686274511 0.023436087786986994

In [70]:
df

  Treatment  Before  4 months  8 months  12 months
0        T0     0.3      0.36      0.35       0.37
1        T1     0.3      0.54      0.56       0.56
2        T2     0.3      0.40      0.45       0.48
3        T3     0.3      0.41      0.43       0.49
4        T4     0.3      0.70      0.75       0.77
5        T5     0.3      0.39      0.38       0.40
6        T6     0.3      0.26      0.29       0.53

In [29]:
df = pd.read_excel("NitrogenTreatment.xlsx")
fvalue, pvalue = stats.f_oneway(df['Before'],df['4 months'], df['8 months'], df['12 months'])
print(fvalue, pvalue)

10.141430656934302 0.00016773849301417496

In [30]:
df = pd.read_excel("CECTreatment.xlsx")
fvalue, pvalue = stats.f_oneway(df['Before'],df['4 months'], df['8 months'], df['12 months'])
print(fvalue, pvalue)

6.726165857880781 0.0018784271696004069

In [71]:
df = pd.read_excel("pHTreatment.xlsx")
df = df.T
df.columns = treat
df = df.iloc[1:]
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

0.7580147721237056 0.6105227261988948

In [72]:
df

             T0    T1    T2    T3    T4    T5    T6
Before     4.53  4.53  4.53  4.53  4.53  4.53  4.53
4 months   4.53  4.69  5.13  4.99  4.83   4.8  5.02
8 months   4.59  4.72  5.68  6.21  6.03  5.54  5.96
12 months  4.99  5.89  5.24   6.0  6.14  5.73  5.99

In [73]:
df = pd.read_excel("NitrogenTreatment.xlsx")
df = df.T
df.columns = treat
df = df.iloc[1:]
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

1.6527897565182774 0.18227966844823282

In [74]:
df

              T0     T1     T2     T3     T4     T5     T6
Before     0.082  0.082  0.082  0.082  0.082  0.082  0.082
4 months    0.09   0.13   0.15   0.14   0.18   0.13   0.16
8 months    0.09   0.14   0.15   0.16    0.2   0.13   0.17
12 months   0.09   0.16   0.17   0.16   0.21   0.15   0.17

In [75]:
df = pd.read_excel("CECTreatment.xlsx")
df = df.T
df.columns = treat
df = df.iloc[1:]
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

2.2429200908446894 0.07896938135245042

In [76]:
df

             T0    T1    T2    T3    T4     T5     T6
Before       23    23    23    23    23     23     23
4 months   24.0  26.3  27.0  28.5  32.5   27.3   31.0
8 months   25.0  26.1  27.5  28.0  36.0  29.75  32.92
12 months  24.9  26.5  27.6  29.9  36.0   28.1   31.7

In [77]:
df = pd.read_excel("OrganicCTreatment.xlsx")
df = df.T
df.columns = treat
df = df.iloc[1:]
fvalue, pvalue = stats.f_oneway(df['T0'], df['T1'], df['T2'],df['T3'],df['T4'],df['T5'], df['T6'])
print(fvalue, pvalue)

3.0437937289453227 0.02654812698547813

In [78]:
df

             T0    T1    T2    T3    T4    T5    T6
Before      0.3   0.3   0.3   0.3   0.3   0.3   0.3
4 months   0.36  0.54   0.4  0.41   0.7  0.39  0.26
8 months   0.35  0.56  0.45  0.43  0.75  0.38  0.29
12 months  0.37  0.56  0.48  0.49  0.77   0.4  0.53