In [2]:
library(ggplot2)
library(ggpubr)
library(broom)
library(AICcmodavg)

ERROR: Error in library(AICcmodavg): there is no package called ‘AICcmodavg’

In [3]:
install.packages("AICcmodavg")

also installing the dependencies ‘pbapply’, ‘TMB’, ‘RcppArmadillo’, ‘unmarked’, ‘VGAM’


Warning message in install.packages("AICcmodavg"):
“installation of package ‘unmarked’ had non-zero exit status”
Warning message in install.packages("AICcmodavg"):
“installation of package ‘AICcmodavg’ had non-zero exit status”
Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [4]:
require(readxl)

Loading required package: readxl

In [5]:
ph <- read_excel("pHTreatment.xlsx")
ph

  Treatments         Before 4 months 8 months 12 months
1 T0 (Control)       4.53   4.53     4.59     4.99
2 T1 (Azolla)        4.53   4.69     4.72     5.89
3 T2 (Grass)         4.53   5.13     5.68     5.24
4 T3(Water Hyacinth) 4.53   4.99     6.21     6.00
5 T4 (Nuts)          4.53   4.83     6.03     6.14
6 T5 (Azolla+WH)     4.53   4.80     5.54     5.73
7 T6 (Nuts+Grass)    4.53   5.02     5.96     5.99

In [6]:
summary(ph)

  Treatments            Before        4 months        8 months
 Length:7           Min.   :4.53   Min.   :4.530   Min.   :4.590
 Class :character   1st Qu.:4.53   1st Qu.:4.745   1st Qu.:5.130
 Mode  :character   Median :4.53   Median :4.830   Median :5.680
                    Mean   :4.53   Mean   :4.856   Mean   :5.533
                    3rd Qu.:4.53   3rd Qu.:5.005   3rd Qu.:5.995
                    Max.   :4.53   Max.   :5.130   Max.   :6.210
   12 months
 Min.   :4.990
 1st Qu.:5.485
 Median :5.890
 Mean   :5.711
 3rd Qu.:5.995
 Max.   :6.140

In [10]:
one.way <- aov(ph$Before ~ ph$`12 months`, data = ph)

summary(one.way)

               Df    Sum Sq   Mean Sq F value Pr(>F)
ph$`12 months`  1 2.974e-30 2.974e-30   5.926 0.0591 .
Residuals       5 2.509e-30 5.018e-31
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1