In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../data/SundarbanData.csv", index_col= False)

In [4]:
df.head()

,Location,Bulk Density (g/cm3)\n,Sand %,Silt %,Clay %,Moisture %,pH,EC (dS/m),Organic Carbon %,Nitrogen\n%,CEC meq/100g,Textural Class
0,Karamjol1,1.59,5.97,50.81,43.21,33.95,8.28,3.44,1.495,0.10,29.96,Silty Clay
1,Karamjol2,1.52,4.96,52.95,42.07,38.49,8.48,3.12,2.374,0.09,28.30,Silty Clay
2,Karamjol3,1.39,3.95,55.06,40.98,36.36,8.51,2.70,3.852,0.09,28.11,Silty Clay
3,Karamjol4,1.39,5.77,52.83,41.39,39.76,8.50,2.98,7.472,0.08,29.73,Silty Clay
4,Karamjol5,1.46,5.41,56.06,38.52,40.12,8.58,2.64,9.435,0.07,27.71,Silty Clay

In [5]:
df.columns

Index(['Location', 'Bulk Density (g/cm3)\n', 'Sand %', 'Silt %', 'Clay %',
       'Moisture %', 'pH', 'EC (dS/m)', 'Organic Carbon %', 'Nitrogen\n%',
       'CEC meq/100g', 'Textural Class'],
      dtype='object')

In [8]:
cols = ['Location', 'BulkDensity', 'Sand', 'Silt', 'Clay',
       'Moisture', 'pH', 'EC', 'OrganicCarbon', 'Nitrogen',
       'CEC', 'Textural Class']

In [9]:
df.columns = cols
df.head()

,Location,BulkDensity,Sand,Silt,Clay,Moisture,pH,EC,OrganicCarbon,Nitrogen,CEC,Textural Class
0,Karamjol1,1.59,5.97,50.81,43.21,33.95,8.28,3.44,1.495,0.10,29.96,Silty Clay
1,Karamjol2,1.52,4.96,52.95,42.07,38.49,8.48,3.12,2.374,0.09,28.30,Silty Clay
2,Karamjol3,1.39,3.95,55.06,40.98,36.36,8.51,2.70,3.852,0.09,28.11,Silty Clay
3,Karamjol4,1.39,5.77,52.83,41.39,39.76,8.50,2.98,7.472,0.08,29.73,Silty Clay
4,Karamjol5,1.46,5.41,56.06,38.52,40.12,8.58,2.64,9.435,0.07,27.71,Silty Clay

In [11]:
sdf = df[["Location", "BulkDensity", "OrganicCarbon"]]
sdf.head()

    Location  BulkDensity  OrganicCarbon
0  Karamjol1         1.59          1.495
1  Karamjol2         1.52          2.374
2  Karamjol3         1.39          3.852
3  Karamjol4         1.39          7.472
4  Karamjol5         1.46          9.435

```

        SOCD (g C cm-3) = SBD (g cm-3) * (% OC/100)
        SOC (Mg C ha-1) = SBD (g cm-3) * soil depth interval (cm) * SOCC
```

## Soil Organic Carbon Density - SOCD

In [12]:
socd = sdf.BulkDensity * (sdf.OrganicCarbon / 100)
socd

0     0.023771
1     0.036085
2     0.053543
3     0.103861
4     0.137751
5     0.021113
6     0.030651
7     0.052430
8     0.109336
9     0.125040
10    0.020240
11    0.031234
12    0.054004
13    0.093322
14    0.112392
15    0.015701
16    0.028250
17    0.048716
18    0.103858
19    0.114153
20    0.022137
21    0.022218
22    0.023408
23    0.027117
24    0.027528
dtype: float64

In [13]:
soilDepth = 20
soc = sdf.BulkDensity * soilDepth * sdf.OrganicCarbon
soc

0      47.5410
1      72.1696
2     107.0856
3     207.7216
4     275.5020
5      42.2256
6      61.3016
7     104.8600
8     218.6724
9     250.0798
10     40.4796
11     62.4672
12    108.0088
13    186.6448
14    224.7840
15     31.4030
16     56.5008
17     97.4320
18    207.7156
19    228.3068
20     44.2740
21     44.4360
22     46.8160
23     54.2340
24     55.0560
dtype: float64

In [16]:
sdf["SOCD"], sdf["SOC"] = socd, soc

/tmp/ipykernel_3970/630011355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sdf["SOCD"], sdf["SOC"] = socd, soc

In [17]:
sdf

        Location  BulkDensity  OrganicCarbon      SOCD       SOC
0      Karamjol1         1.59          1.495  0.023771   47.5410
1      Karamjol2         1.52          2.374  0.036085   72.1696
2      Karamjol3         1.39          3.852  0.053543  107.0856
3      Karamjol4         1.39          7.472  0.103861  207.7216
4      Karamjol5         1.46          9.435  0.137751  275.5020
5      Harbaria1         1.52          1.389  0.021113   42.2256
6      Harbaria2         1.48          2.071  0.030651   61.3016
7      Harbaria3         1.40          3.745  0.052430  104.8600
8      Harbaria4         1.49          7.338  0.109336  218.6724
9      Harbaria5         1.37          9.127  0.125040  250.0798
10        Katka1         1.58          1.281  0.020240   40.4796
11        Katka2         1.44          2.169  0.031234   62.4672
12        Katka3         1.58          3.418  0.054004  108.0088
13        Katka4         1.24          7.526  0.093322  186.6448
14        Katka5         1.26          8.920  0.112392  224.7840
15  Hiron Point1         1.55          1.013  0.015701   31.4030
16  Hiron Point2         1.49          1.896  0.028250   56.5008
17  Hiron Point3         1.52          3.205  0.048716   97.4320
18  Hiron Point4         1.51          6.878  0.103858  207.7156
19  Hiron Point5         1.31          8.714  0.114153  228.3068
20   Munshiganj1         1.41          1.570  0.022137   44.2740
21   Munshiganj2         1.38          1.610  0.022218   44.4360
22   Munshiganj3         1.33          1.760  0.023408   46.8160
23   Munshiganj4         1.31          2.070  0.027117   54.2340
24   Munshiganj5         1.24          2.220  0.027528   55.0560

In [ ]:
sdf.to_csv