In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("data/heavymetalSummer_Winter.csv")

In [3]:
df

,SamplingPoint,CdW,CdS,CrW,CrS,NiW,NiS,CuW,CuS,ZnW,ZnS,MnW,MnS,HgW,HgS,AsW,AsS,PbW,PbS
0,Gabtoli Dhalwes,0.007,0.003,0.049,0.044,0.102,0.107,0.388,0.458,0.286,0.187,1.084,0.995,0.014,0.009,0.191,0.109,0.376,0.188
1,Gabtoli Turag,0.008,0.007,0.089,0.083,0.128,0.495,0.965,0.932,0.623,0.659,1.198,1.178,0.036,0.027,0.156,0.102,0.395,0.452
2,Shah Cement,0.015,0.018,0.095,0.082,0.207,0.149,1.420,1.597,0.669,0.573,1.178,1.073,0.081,0.108,0.095,0.063,0.441,0.337
3,Hazaribag,2.210,2.100,1.423,1.139,1.252,0.065,0.926,0.988,0.612,0.602,3.791,3.450,0.124,0.176,0.102,0.098,1.388,1.836
4,Rayerbazar,0.003,0.005,0.025,0.029,0.058,0.089,0.198,0.114,0.307,0.309,1.100,1.002,0.002,0.093,0.079,0.057,0.316,0.119
5,Kholamora,0.005,0.007,0.031,0.045,0.062,0.216,0.850,1.976,0.598,0.759,0.998,0.872,0.009,0.017,0.061,0.075,0.294,0.178
6,Zinzira,0.092,0.106,0.296,0.198,0.721,1.023,1.832,1.851,0.753,0.755,3.262,3.107,0.092,0.089,0.098,0.112,0.567,1.457
7,Sadarghat Terminal,0.165,0.193,1.102,1.133,0.356,0.451,0.652,0.633,0.335,0.442,2.979,2.456,0.137,0.255,0.107,0.161,1.979,2.144
8,Postogola Bri,0.082,0.069,0.511,0.370,0.256,0.385,0.095,0.115,0.173,0.292,1.245,1.114,0.107,0.198,0.062,0.059,0.953,1.075

In [22]:
Cb = {
        "Cd":0.01,
        "Cr":0.05,
        "Ni":0.05,
        "Cu":1,
        "Zn":5,
        "Mn":0.1,
        "Hg":0.05,
        "As":0.05,
        "Pb":0.05,
}

In [23]:
Ti = {
        "Cd": 30,
        "Cr": 2,
        "Ni": 5,
        "Cu": 5,
        "Zn": 1,
        "Mn": 1,
        "Hg": 40,
        "As": 10,
        "Pb": 5,
}

In [ ]:
0.01, 0.05, 0.1, 1,  0.5,  1,  5, 0.05, 0.05, 0.05
 Cd    Cr    Mn  Fe   Co  Cu  Zn   As    Pb    Hg

In [ ]:
30,   2,    1,   2.7, 2.3, 5, 1,  10,   5,     40

In [4]:
winter = pd.DataFrame(data={
    "Cd": df.CdW,
    "Cr": df.CrW,
    "Ni": df.NiW,
    "Cu": df.CuW,
    "Zn": df.ZnW,
    "Mn": df.MnW,
    "Hg": df.HgW,
    "As": df.AsW,
    "Pb": df.PbW,
})

In [5]:
summer = pd.DataFrame(data={
    "Cd": df.CdS,
    "Cr": df.CrS,
    "Ni": df.NiS,
    "Cu": df.CuS,
    "Zn": df.ZnS,
    "Mn": df.MnS,
    "Hg": df.HgS,
    "As": df.AsS,
    "Pb": df.PbS,
})

## Winter

In [24]:
piCd = winter.Cd / Cb["Cd"]
piCr = winter.Cr / Cb["Cr"]
piNi = winter.Ni / Cb["Ni"]
piCu = winter.Cu / Cb["Cu"]
piZn = winter.Zn / Cb["Zn"]
piMn = winter.Mn / Cb["Mn"]
piHg = winter.Hg / Cb["Hg"]
piAs = winter.As / Cb["As"]
piPb = winter.Pb / Cb["Pb"]

In [25]:
riCd = piCd * Ti["Cd"]
riCr = piCr * Ti["Cr"]
riNi = piNi * Ti["Ni"]
riCu = piCu * Ti["Cu"]
riZn = piZn * Ti["Zn"]
riMn = piMn * Ti["Mn"]
riHg = piHg * Ti["Hg"]
riAs = piAs * Ti["As"]
riPb = piPb * Ti["Pb"]

In [27]:
riW = pd.DataFrame(data={
    "Cd": riCd,
    "Cr": riCr,
    "Ni": riNi,
    "Cu": riCu,
    "Zn": riZn,
    "Mn": riMn,
    "Hg": riHg,
    "As": riAs,
    "Pb": riPb,
})
riW

       Cd     Cr     Ni     Cu      Zn     Mn     Hg    As     Pb
0    21.0   1.96   10.2  1.940  0.0572  10.84   11.2  38.2   37.6
1    24.0   3.56   12.8  4.825  0.1246  11.98   28.8  31.2   39.5
2    45.0   3.80   20.7  7.100  0.1338  11.78   64.8  19.0   44.1
3  6630.0  56.92  125.2  4.630  0.1224  37.91   99.2  20.4  138.8
4     9.0   1.00    5.8  0.990  0.0614  11.00    1.6  15.8   31.6
5    15.0   1.24    6.2  4.250  0.1196   9.98    7.2  12.2   29.4
6   276.0  11.84   72.1  9.160  0.1506  32.62   73.6  19.6   56.7
7   495.0  44.08   35.6  3.260  0.0670  29.79  109.6  21.4  197.9
8   246.0  20.44   25.6  0.475  0.0346  12.45   85.6  12.4   95.3

In [28]:
eriW = riW.sum(axis=1)
eriW

0     132.9972
1     156.7896
2     216.4138
3    7113.1824
4      76.8514
5      85.5896
6     551.7706
7     936.6970
8     498.2996
dtype: float64

In [29]:
riW["ERI"] = eriW
riW

       Cd     Cr     Ni     Cu      Zn     Mn     Hg    As     Pb        ERI
0    21.0   1.96   10.2  1.940  0.0572  10.84   11.2  38.2   37.6   132.9972
1    24.0   3.56   12.8  4.825  0.1246  11.98   28.8  31.2   39.5   156.7896
2    45.0   3.80   20.7  7.100  0.1338  11.78   64.8  19.0   44.1   216.4138
3  6630.0  56.92  125.2  4.630  0.1224  37.91   99.2  20.4  138.8  7113.1824
4     9.0   1.00    5.8  0.990  0.0614  11.00    1.6  15.8   31.6    76.8514
5    15.0   1.24    6.2  4.250  0.1196   9.98    7.2  12.2   29.4    85.5896
6   276.0  11.84   72.1  9.160  0.1506  32.62   73.6  19.6   56.7   551.7706
7   495.0  44.08   35.6  3.260  0.0670  29.79  109.6  21.4  197.9   936.6970
8   246.0  20.44   25.6  0.475  0.0346  12.45   85.6  12.4   95.3   498.2996

In [30]:
piCd = winter.Cd / Cb["Cd"]
piCr = winter.Cr / Cb["Cr"]
piNi = winter.Ni / Cb["Ni"]
piCu = winter.Cu / Cb["Cu"]
piZn = winter.Zn / Cb["Zn"]
piMn = winter.Mn / Cb["Mn"]
piHg = winter.Hg / Cb["Hg"]
piAs = winter.As / Cb["As"]
piPb = winter.Pb / Cb["Pb"]

riCd = piCd * Ti["Cd"]
riCr = piCr * Ti["Cr"]
riNi = piNi * Ti["Ni"]
riCu = piCu * Ti["Cu"]
riZn = piZn * Ti["Zn"]
riMn = piMn * Ti["Mn"]
riHg = piHg * Ti["Hg"]
riAs = piAs * Ti["As"]
riPb = piPb * Ti["Pb"]


riW = pd.DataFrame(data={
    "Cd": riCd,
    "Cr": riCr,
    "Ni": riNi,
    "Cu": riCu,
    "Zn": riZn,
    "Mn": riMn,
    "Hg": riHg,
    "As": riAs,
    "Pb": riPb,
})

eriW = riW.sum(axis=1)
riW["ERI"] = eriW
riW

       Cd     Cr     Ni     Cu      Zn     Mn     Hg    As     Pb        ERI
0    21.0   1.96   10.2  1.940  0.0572  10.84   11.2  38.2   37.6   132.9972
1    24.0   3.56   12.8  4.825  0.1246  11.98   28.8  31.2   39.5   156.7896
2    45.0   3.80   20.7  7.100  0.1338  11.78   64.8  19.0   44.1   216.4138
3  6630.0  56.92  125.2  4.630  0.1224  37.91   99.2  20.4  138.8  7113.1824
4     9.0   1.00    5.8  0.990  0.0614  11.00    1.6  15.8   31.6    76.8514
5    15.0   1.24    6.2  4.250  0.1196   9.98    7.2  12.2   29.4    85.5896
6   276.0  11.84   72.1  9.160  0.1506  32.62   73.6  19.6   56.7   551.7706
7   495.0  44.08   35.6  3.260  0.0670  29.79  109.6  21.4  197.9   936.6970
8   246.0  20.44   25.6  0.475  0.0346  12.45   85.6  12.4   95.3   498.2996

## Summer

In [31]:
piCd = summer.Cd / Cb["Cd"]
piCr = summer.Cr / Cb["Cr"]
piNi = summer.Ni / Cb["Ni"]
piCu = summer.Cu / Cb["Cu"]
piZn = summer.Zn / Cb["Zn"]
piMn = summer.Mn / Cb["Mn"]
piHg = summer.Hg / Cb["Hg"]
piAs = summer.As / Cb["As"]
piPb = summer.Pb / Cb["Pb"]

riCd = piCd * Ti["Cd"]
riCr = piCr * Ti["Cr"]
riNi = piNi * Ti["Ni"]
riCu = piCu * Ti["Cu"]
riZn = piZn * Ti["Zn"]
riMn = piMn * Ti["Mn"]
riHg = piHg * Ti["Hg"]
riAs = piAs * Ti["As"]
riPb = piPb * Ti["Pb"]


riS = pd.DataFrame(data={
    "Cd": riCd,
    "Cr": riCr,
    "Ni": riNi,
    "Cu": riCu,
    "Zn": riZn,
    "Mn": riMn,
    "Hg": riHg,
    "As": riAs,
    "Pb": riPb,
})

eriS = riS.sum(axis=1)
riS["ERI"] = eriS
riS

       Cd     Cr     Ni     Cu      Zn     Mn     Hg    As     Pb        ERI
0     9.0   1.76   10.7  2.290  0.0374   9.95    7.2  21.8   18.8    81.5374
1    21.0   3.32   49.5  4.660  0.1318  11.78   21.6  20.4   45.2   177.5918
2    54.0   3.28   14.9  7.985  0.1146  10.73   86.4  12.6   33.7   223.7096
3  6300.0  45.56    6.5  4.940  0.1204  34.50  140.8  19.6  183.6  6735.6204
4    15.0   1.16    8.9  0.570  0.0618  10.02   74.4  11.4   11.9   133.4118
5    21.0   1.80   21.6  9.880  0.1518   8.72   13.6  15.0   17.8   109.5518
6   318.0   7.92  102.3  9.255  0.1510  31.07   71.2  22.4  145.7   707.9960
7   579.0  45.32   45.1  3.165  0.0884  24.56  204.0  32.2  214.4  1147.8334
8   207.0  14.80   38.5  0.575  0.0584  11.14  158.4  11.8  107.5   549.7734

In [32]:
riW.to_csv("PollutionIndices/RI_winter.csv")
riS.to_csv("PollutionIndices/RI_summer.csv")

In [11]:
q = pd.read_csv("data/Buriganga_W .csv")

In [14]:
q.Cd

0    0.007
1    0.008
2    0.015
3    2.210
4    0.003
5    0.005
6    0.092
7    0.165
8    0.082
Name: Cd, dtype: float64

In [15]:
q = pd.read_excel("data.xlsx")

In [17]:
q["Cd (mg/l)"]

0    0.007
1    0.008
2    0.015
3    2.210
4    0.003
5    0.005
6    0.092
7    0.165
8    0.082
Name: Cd (mg/l), dtype: float64