In [1]:
import pandas as pd
import pingouin as pg
import numpy as np

In [2]:
df = pd.read_csv("/home/RHHLab/Downloads/fish_data.csv")

In [3]:
df

,"Element, mg/kg",Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein (g/100g),Omega-3 polyunsaturated fatty acids (n-3 PUFAs) (g/100g),Lipid %
0,Ghagra (Clupisoma garua),0.69,1.63,105.47,1.27,22.16,82.25,0.43,2.79,0.78,0.53,0.55,15.8,0.680,12.79
1,Koi (Anabas testudineus),0.95,0.49,83.99,2.68,19.82,149.47,0.47,3.99,1.18,0.87,0.76,16.4,0.375,12.10
2,Tatkini (Cirrhinus reba),1.36,0.42,77.85,3.61,17.15,135.34,0.56,4.77,0.63,2.17,0.98,17.3,0.240,9.82
3,Tengra (Mystus vittatus),2.37,0.74,90.12,5.13,21.59,81.27,0.61,5.37,0.97,3.15,1.24,17.5,0.115,7.10
4,Batashi (Neotropius atherinoides),0.27,0.35,43.52,3.49,15.19,129.11,0.42,3.21,0.58,0.72,0.69,15.1,0.300,10.70
5,Jatka (juvenile) Tenualosa ilisha,1.13,0.93,94.58,3.05,28.90,172.53,0.51,4.39,0.46,1.76,1.71,18.7,0.430,11.56
6,Rani (Botia dario),1.02,1.65,114.31,3.52,11.48,161.89,0.52,4.15,0.61,2.11,0.93,15.3,0.345,11.15
7,Chanda (Pseudambassis ranga),1.98,1.78,133.25,4.77,23.95,158.31,0.57,5.10,0.78,2.79,1.50,16.5,0.195,7.69

In [4]:
cols = df["Element, mg/kg"]

In [7]:
cols = list(cols)

In [10]:
col = []
for elem in cols:
    a = elem.split(" ")
    col.append(a[0])

In [11]:
col

['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda']

In [12]:
df["Element, mg/kg"] = col
df

,"Element, mg/kg",Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein (g/100g),Omega-3 polyunsaturated fatty acids (n-3 PUFAs) (g/100g),Lipid %
0,Ghagra,0.69,1.63,105.47,1.27,22.16,82.25,0.43,2.79,0.78,0.53,0.55,15.8,0.680,12.79
1,Koi,0.95,0.49,83.99,2.68,19.82,149.47,0.47,3.99,1.18,0.87,0.76,16.4,0.375,12.10
2,Tatkini,1.36,0.42,77.85,3.61,17.15,135.34,0.56,4.77,0.63,2.17,0.98,17.3,0.240,9.82
3,Tengra,2.37,0.74,90.12,5.13,21.59,81.27,0.61,5.37,0.97,3.15,1.24,17.5,0.115,7.10
4,Batashi,0.27,0.35,43.52,3.49,15.19,129.11,0.42,3.21,0.58,0.72,0.69,15.1,0.300,10.70
5,Jatka,1.13,0.93,94.58,3.05,28.90,172.53,0.51,4.39,0.46,1.76,1.71,18.7,0.430,11.56
6,Rani,1.02,1.65,114.31,3.52,11.48,161.89,0.52,4.15,0.61,2.11,0.93,15.3,0.345,11.15
7,Chanda,1.98,1.78,133.25,4.77,23.95,158.31,0.57,5.10,0.78,2.79,1.50,16.5,0.195,7.69

In [29]:
arr = np.array(df)

In [30]:
arr

array([['Ghagra', 0.69, 1.63, 105.47, 1.27, 22.16, 82.25, 0.43, 2.79,
        0.78, 0.53, 0.55, 15.8, 0.68, 12.79],
       ['Koi', 0.95, 0.49, 83.99, 2.68, 19.82, 149.47, 0.47, 3.99, 1.18,
        0.87, 0.76, 16.4, 0.375, 12.1],
       ['Tatkini', 1.36, 0.42, 77.85, 3.61, 17.15, 135.34, 0.56, 4.77,
        0.63, 2.17, 0.98, 17.3, 0.24, 9.82],
       ['Tengra', 2.37, 0.74, 90.12, 5.13, 21.59, 81.27, 0.61, 5.37,
        0.97, 3.15, 1.24, 17.5, 0.115, 7.1],
       ['Batashi', 0.27, 0.35, 43.52, 3.49, 15.19, 129.11, 0.42, 3.21,
        0.58, 0.72, 0.69, 15.1, 0.3, 10.7],
       ['Jatka', 1.13, 0.93, 94.58, 3.05, 28.9, 172.53, 0.51, 4.39, 0.46,
        1.76, 1.71, 18.7, 0.43, 11.56],
       ['Rani', 1.02, 1.65, 114.31, 3.52, 11.48, 161.89, 0.52, 4.15,
        0.61, 2.11, 0.93, 15.3, 0.345, 11.15],
       ['Chanda', 1.98, 1.78, 133.25, 4.77, 23.95, 158.31, 0.57, 5.1,
        0.78, 2.79, 1.5, 16.5, 0.195, 7.69]], dtype=object)

In [65]:
cols = df.columns

In [70]:
cols = ['FishSpecies', 'Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb',
       'Cd', 'Hg', 'Protein',
       'OPFA', 'Lipid']

In [71]:
df.columns = cols

In [72]:
df

,FishSpecies,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,Ghagra,0.69,1.63,105.47,1.27,22.16,82.25,0.43,2.79,0.78,0.53,0.55,15.8,0.680,12.79
1,Koi,0.95,0.49,83.99,2.68,19.82,149.47,0.47,3.99,1.18,0.87,0.76,16.4,0.375,12.10
2,Tatkini,1.36,0.42,77.85,3.61,17.15,135.34,0.56,4.77,0.63,2.17,0.98,17.3,0.240,9.82
3,Tengra,2.37,0.74,90.12,5.13,21.59,81.27,0.61,5.37,0.97,3.15,1.24,17.5,0.115,7.10
4,Batashi,0.27,0.35,43.52,3.49,15.19,129.11,0.42,3.21,0.58,0.72,0.69,15.1,0.300,10.70
5,Jatka,1.13,0.93,94.58,3.05,28.90,172.53,0.51,4.39,0.46,1.76,1.71,18.7,0.430,11.56
6,Rani,1.02,1.65,114.31,3.52,11.48,161.89,0.52,4.15,0.61,2.11,0.93,15.3,0.345,11.15
7,Chanda,1.98,1.78,133.25,4.77,23.95,158.31,0.57,5.10,0.78,2.79,1.50,16.5,0.195,7.69

In [73]:
df.to_csv("data/fishData.csv")

In [91]:
newdf = pd.DataFrame(columns=["Values", "Fish", "Parameter"])

In [ ]:
newdf = pd.DataFrame(columns=["Values", "Fish", "Parameter"])
param = df.columns[1:]
hm = []
for i in range(len(param)):
    for _ in range(8):
        hm.append(param[i])
        
species = df["FishSpecies"]
species = list(species)
sp = []
for _ in range(len(param)):
    sp.append(species[:])
sparr = np.array(sp)
sparr = sparr.flatten()
newdf["Parameter"] = hm
newdf["Fish"] = sparr
vals = []
for i in range(len(param)):
    for val in df[param[i]].values:
        vals.append(val)

In [75]:
newdf

Empty DataFrame
Columns: [Values, Fish, Parameter]
Index: []

In [76]:
df.Cr

0    0.69
1    0.95
2    1.36
3    2.37
4    0.27
5    1.13
6    1.02
7    1.98
Name: Cr, dtype: float64

In [79]:
param = df.columns[1:]
param

Index(['Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb', 'Cd', 'Hg',
       'Protein', 'OPFA', 'Lipid'],
      dtype='object')

In [80]:
hm = []
for i in range(len(param)):
    for _ in range(8):
        hm.append(param[i])

In [81]:
len(hm)

112

In [82]:
species = df["FishSpecies"]
species = list(species)

In [84]:
sp = []
for _ in range(len(param)):
    sp.append(species[:])

In [85]:
sp

[['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda'],
 ['Ghagra', 'Koi', 'Tatkini', 'Tengra', 'Batashi', 'Jatka', 'Rani', 'Chanda']]

In [86]:
sparr = np.array(sp)

In [87]:
sparr = sparr.flatten()

In [92]:
newdf["Parameter"] = hm
newdf["Fish"] = sparr

In [93]:
newdf

    Values     Fish Parameter
0      NaN   Ghagra        Cr
1      NaN      Koi        Cr
2      NaN  Tatkini        Cr
3      NaN   Tengra        Cr
4      NaN  Batashi        Cr
..     ...      ...       ...
107    NaN   Tengra     Lipid
108    NaN  Batashi     Lipid
109    NaN    Jatka     Lipid
110    NaN     Rani     Lipid
111    NaN   Chanda     Lipid

[112 rows x 3 columns]

In [94]:
param

Index(['Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb', 'Cd', 'Hg',
       'Protein', 'OPFA', 'Lipid'],
      dtype='object')

In [96]:
df["Cr"].values

array([0.69, 0.95, 1.36, 2.37, 0.27, 1.13, 1.02, 1.98])

In [98]:
vals = []
for i in range(len(param)):
    for val in df[param[i]].values:
        vals.append(val)

In [102]:
df

,FishSpecies,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,Ghagra,0.69,1.63,105.47,1.27,22.16,82.25,0.43,2.79,0.78,0.53,0.55,15.8,0.680,12.79
1,Koi,0.95,0.49,83.99,2.68,19.82,149.47,0.47,3.99,1.18,0.87,0.76,16.4,0.375,12.10
2,Tatkini,1.36,0.42,77.85,3.61,17.15,135.34,0.56,4.77,0.63,2.17,0.98,17.3,0.240,9.82
3,Tengra,2.37,0.74,90.12,5.13,21.59,81.27,0.61,5.37,0.97,3.15,1.24,17.5,0.115,7.10
4,Batashi,0.27,0.35,43.52,3.49,15.19,129.11,0.42,3.21,0.58,0.72,0.69,15.1,0.300,10.70
5,Jatka,1.13,0.93,94.58,3.05,28.90,172.53,0.51,4.39,0.46,1.76,1.71,18.7,0.430,11.56
6,Rani,1.02,1.65,114.31,3.52,11.48,161.89,0.52,4.15,0.61,2.11,0.93,15.3,0.345,11.15
7,Chanda,1.98,1.78,133.25,4.77,23.95,158.31,0.57,5.10,0.78,2.79,1.50,16.5,0.195,7.69

In [105]:
vals[:15]

[0.69,
 0.95,
 1.36,
 2.37,
 0.27,
 1.13,
 1.02,
 1.98,
 1.63,
 0.49,
 0.42,
 0.74,
 0.35,
 0.93,
 1.65]

In [106]:
newdf["Values"] = vals

In [107]:
newdf

     Values     Fish Parameter
0      0.69   Ghagra        Cr
1      0.95      Koi        Cr
2      1.36  Tatkini        Cr
3      2.37   Tengra        Cr
4      0.27  Batashi        Cr
..      ...      ...       ...
107    7.10   Tengra     Lipid
108   10.70  Batashi     Lipid
109   11.56    Jatka     Lipid
110   11.15     Rani     Lipid
111    7.69   Chanda     Lipid

[112 rows x 3 columns]

In [108]:
newdf.to_csv("data/transformedData.csv")

In [109]:
aov = pg.anova(dv= "Values", between=["Fish", "Parameter"], data= newdf, detailed=True)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/pingouin/parametric.py:1091: RuntimeWarning: invalid value encountered in double_scalars
  ms_resid = ss_resid / df_resid

In [111]:
anovatable = aov.copy()

In [112]:
anovatable

             Source             SS  DF            MS  np2
0              Fish    1294.564271   7    184.937753  1.0
1         Parameter  171378.772950  13  13182.982535  1.0
2  Fish * Parameter   12556.510979  91    137.983637  1.0
3          Residual       0.000000   0           NaN  NaN

In [113]:
print(aov)

             Source             SS  DF            MS  np2
0              Fish    1294.564271   7    184.937753  1.0
1         Parameter  171378.772950  13  13182.982535  1.0
2  Fish * Parameter   12556.510979  91    137.983637  1.0
3          Residual       0.000000   0           NaN  NaN

In [114]:
aov = pg.anova(dv='Values', between=['Parameter', "Fish"], data=newdf,
               detailed=True)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/pingouin/parametric.py:1091: RuntimeWarning: invalid value encountered in double_scalars
  ms_resid = ss_resid / df_resid

In [117]:
newdf["Values"].min()

0.115

In [2]:
from statsmodels.formula.api import ols 
from statsmodels.stats.anova import anova_lm
import statsmodels.api as sm

In [119]:
formula = "Values ~ C(Fish) + C(Parameter) + C(Fish):C(Parameter)"
model = ols(formula, newdf).fit()
aov_table = anova_lm(model, typ=2)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/statsmodels/regression/linear_model.py:1671: RuntimeWarning: divide by zero encountered in double_scalars
  return np.dot(wresid, wresid) / self.df_resid

ValueError: array must not contain infs or NaNs

In [122]:
np.isnan(newdf["Values"]).any()

False

In [123]:
np.isinf(newdf["Values"]).any()

False

In [124]:
X = (newdf.Values - np.mean(newdf.Values, axis=0)) / np.std(newdf.Values, axis=0)

In [126]:
newdf["Val"] = X

In [128]:
aov = pg.anova(dv= "Val", between=["Fish", "Parameter"], data= newdf, detailed=True)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/pingouin/parametric.py:1091: RuntimeWarning: invalid value encountered in double_scalars
  ms_resid = ss_resid / df_resid

In [129]:
param = newdf[newdf["Parameter"] != "OPFA"]
param

     Values     Fish Parameter       Val
0      0.69   Ghagra        Cr -0.488721
1      0.95      Koi        Cr -0.482327
2      1.36  Tatkini        Cr -0.472246
3      2.37   Tengra        Cr -0.447410
4      0.27  Batashi        Cr -0.499048
..      ...      ...       ...       ...
107    7.10   Tengra     Lipid -0.331101
108   10.70  Batashi     Lipid -0.242578
109   11.56    Jatka     Lipid -0.221430
110   11.15     Rani     Lipid -0.231512
111    7.69   Chanda     Lipid -0.316593

[104 rows x 4 columns]

In [131]:
param["Values"].min()

0.27

In [132]:
aov = pg.anova(dv= "Values", between=["Fish", "Parameter"], data= param, detailed=True)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/pingouin/parametric.py:1091: RuntimeWarning: invalid value encountered in double_scalars
  ms_resid = ss_resid / df_resid

In [133]:
df

,FishSpecies,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,Ghagra,0.69,1.63,105.47,1.27,22.16,82.25,0.43,2.79,0.78,0.53,0.55,15.8,0.680,12.79
1,Koi,0.95,0.49,83.99,2.68,19.82,149.47,0.47,3.99,1.18,0.87,0.76,16.4,0.375,12.10
2,Tatkini,1.36,0.42,77.85,3.61,17.15,135.34,0.56,4.77,0.63,2.17,0.98,17.3,0.240,9.82
3,Tengra,2.37,0.74,90.12,5.13,21.59,81.27,0.61,5.37,0.97,3.15,1.24,17.5,0.115,7.10
4,Batashi,0.27,0.35,43.52,3.49,15.19,129.11,0.42,3.21,0.58,0.72,0.69,15.1,0.300,10.70
5,Jatka,1.13,0.93,94.58,3.05,28.90,172.53,0.51,4.39,0.46,1.76,1.71,18.7,0.430,11.56
6,Rani,1.02,1.65,114.31,3.52,11.48,161.89,0.52,4.15,0.61,2.11,0.93,15.3,0.345,11.15
7,Chanda,1.98,1.78,133.25,4.77,23.95,158.31,0.57,5.10,0.78,2.79,1.50,16.5,0.195,7.69

In [38]:
trans

,FishSpecies,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,Ghagra (Clupisoma garua),0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
1,Koi\n (Anabas testudineus),1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
2,Tatkini\n (Cirrhinus reba),1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
3,Tengra (Mystus vittatus),2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
4,Batashi (Neotropius atherinoides),0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
5,Jatka (juvenile) Tenualosa ilisha,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
6,Rani (Botia dario),1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
7,Chanda\n (Pseudambassis ranga),2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [39]:
param = ['Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb',
       'Cd', 'Hg', 'Protein', 'OPFA', 'Lipid']

In [140]:
col_total = []
for i in range(len(df.columns)-1):
    col_total.append(df[param[i]].sum())

In [40]:
col_total = []
for i in range(len(trans.columns)-1):
    col_total.append(trans[param[i]].sum())

In [41]:
col_total

[10.32,
 10.43,
 1173.2,
 35.519999999999996,
 220.23999999999998,
 1531.17,
 19.09,
 49.77,
 14.99,
 15.100000000000001,
 8.580000000000002,
 84.6,
 3.6399999999999992,
 42.91]

In [150]:
row_total = df.sum(axis=1)

/tmp/ipykernel_7059/919382132.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_total = df.sum(axis=1)

In [46]:
testData = trans[['Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb',
       'Cd', 'Hg', 'Protein', 'OPFA', 'Lipid']]

In [47]:
testData

,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
1,1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
2,1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
3,2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
4,0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
5,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
6,1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
7,2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [49]:
testData.sum(axis=1)

0    360.450
1    407.295
2    384.850
3    349.665
4    386.350
5    436.370
6    421.645
7    472.935
dtype: float64

In [50]:
row_total = testData.sum(axis=1)

In [51]:
row_total = list(row_total)

In [52]:
row_total

[360.45000000000005,
 407.295,
 384.84999999999997,
 349.6650000000001,
 386.34999999999997,
 436.36999999999995,
 421.64499999999987,
 472.93499999999995]

In [153]:
row_total

[247.82000000000002,
 293.545,
 272.2,
 237.27500000000003,
 223.65,
 340.63999999999993,
 328.985,
 359.16499999999996]

In [158]:
totalcol = []
for i in range(len(col_total)):
    totalcol.append(round(col_total[i], 3))

totalrow = []
for i in range(len(row_total)):
    totalrow.append(round(row_total[i], 3))

In [53]:
totalcol = []
for i in range(len(col_total)):
    totalcol.append(round(col_total[i], 3))

totalrow = []
for i in range(len(row_total)):
    totalrow.append(round(row_total[i], 3))

In [54]:
totalcol, totalrow

([10.32,
  10.43,
  1173.2,
  35.52,
  220.24,
  1531.17,
  19.09,
  49.77,
  14.99,
  15.1,
  8.58,
  84.6,
  3.64,
  42.91],
 [360.45, 407.295, 384.85, 349.665, 386.35, 436.37, 421.645, 472.935])

In [161]:
totalcol, totalrow

([9.77,
  7.99,
  743.09,
  27.52,
  160.24,
  1070.17,
  4.09,
  33.77,
  5.99,
  14.1,
  8.36,
  132.6,
  2.68,
  82.91],
 [247.82, 293.545, 272.2, 237.275, 223.65, 340.64, 328.985, 359.165])

In [173]:
sum_x = 0
for i in param:
    sum_x += df[i].values.sum()
sum_x = round(sum_x, 3)

In [56]:
sum_x = 0
for i in param:
    sum_x += testData[i].values.sum()
sum_x = round(sum_x, 3)

In [57]:
sum_x

3219.56

In [174]:
sum_x

2303.28

In [181]:
N = df.shape[0] * df.shape[1]
Cx = (sum_x**2)/ N
Cx = round(Cx, 3)
Cx

44209.156

In [58]:
N = testData.shape[0] * testData.shape[1]
Cx = (sum_x**2)/ N
Cx = round(Cx, 3)
Cx

92549.702

In [193]:
squared_sum = 0
for i in param:
    for j in range(len(df[i].values)):
        squared_sum += (df[i].values[j])**2
squared_sum = round(squared_sum, 3)
squared_sum

232596.801

In [59]:
squared_sum = 0
for i in param:
    for j in range(len(testData[i].values)):
        squared_sum += (testData[i].values[j])**2
squared_sum = round(squared_sum, 3)
squared_sum

483844.771

In [196]:
sst = squared_sum - Cx
sst = round(sst, 3)
sst

188387.645

In [60]:
sst = squared_sum - Cx
sst = round(sst, 3)
sst

391295.069

In [208]:
col_sum = 0
for i in totalcol:
    col_sum += i**2
col_sum = round(col_sum,3)
col_sum

1749965.809

In [61]:
col_sum = 0
for i in totalcol:
    col_sum += i**2
col_sum = round(col_sum,3)
col_sum

3783241.909

In [209]:
ssparam = (col_sum/len(totalrow))- Cx
ssparam

174536.57012499997

In [62]:
ssparam = (col_sum/len(totalrow))- Cx
ssparam

380355.536625

In [210]:
row_sum = 0
for i in totalrow:
    row_sum += i**2
row_sum = round(row_sum,3)
row_sum

681261.245

In [63]:
row_sum = 0
for i in totalrow:
    row_sum += i**2
row_sum = round(row_sum,3)
row_sum

1307325.674

In [213]:
ssfish = (row_sum/len(totalcol)) - Cx
ssfish = round(ssfish, 3)
ssfish

4452.361

In [64]:
ssfish = (row_sum/len(totalcol)) - Cx
ssfish = round(ssfish, 3)
ssfish

830.703

In [224]:
ssg = (squared_sum/120) - Cx - ssparam - ssfish
ssg = round(ssg,3)
ssg

-221259.78

In [65]:
ssg = (squared_sum/120) - Cx - ssparam - ssfish
ssg = round(ssg,3)
ssg

-469703.902

In [66]:
sse = sst - ssfish - ssparam - ssg
sse = round(sse, 3)
sse

479812.731

In [227]:
sse = sst - ssfish - ssparam - ssg
sse = round(sse, 3)
sse

230658.494

In [228]:
collen = len(totalcol)
rowlen = len(totalrow)

dfparam = collen - 1
dffish = rowlen - 1
dfinteraction = (collen -1) * (rowlen -1)
dfresidual = collen * rowlen * (N - 1)
dftotal = N-1

In [67]:
collen = len(totalcol)
rowlen = len(totalrow)

dfparam = collen - 1
dffish = rowlen - 1
dfinteraction = (collen -1) * (rowlen -1)
dfresidual = collen * rowlen * (N - 1)
dftotal = N-1

In [82]:
residual = sst - 830.703 - 380355.536 - 10108.8
residual

0.03000000001702574

In [71]:
sst

391295.069

In [252]:
residual = sst - 1294.564271 - 171378.772950 - 12556.510979 
residual

3157.7967999999655

In [253]:
residual= round(residual,3)

In [257]:
residual / 224

14.097308035714287

In [83]:
residual / 224

0.0001339285715045792

In [256]:
(8*14)*2

224

In [259]:
184.937753 / 14.0973

13.118664779780524

In [260]:
13182.982535 / 14.0973

935.1423701701743

In [261]:
137.983637 / 14.0973

9.787947833982393

In [272]:
7 + 13+ 91+ 224

335

In [87]:
1294.56 + 171378.77 +12556.51

185229.84

In [88]:
12556.51/ 91

137.98362637362638

In [84]:
111.086028 / 0.0001339

829619.3278566094

In [89]:
830.703550 + 380355.536946 + 10108.828575

391295.069071

In [91]:
10108.8285/ 91

111.08602747252746

In [3]:
df = pd.read_csv("../../Fish_Contamination/data/head_fish.csv")

In [4]:
df

,Metals,Ghagra (Clupisoma garua),Koi\n (Anabas testudineus),Tatkini\n (Cirrhinus reba),Tengra (Mystus vittatus),Batashi (Neotropius atherinoides),Jatka (juvenile) Tenualosa ilisha,Rani (Botia dario),Chanda\n (Pseudambassis ranga)
0,Cr,0.78,1.050,1.48,2.110,0.37,1.23,1.150,2.150
1,Mn,1.93,0.790,0.72,1.040,0.69,1.23,1.950,2.080
2,Fe,155.47,134.100,127.85,140.120,143.52,124.58,164.310,183.250
3,Co,2.27,3.680,4.61,6.130,4.49,4.05,4.520,5.770
4,Cu,29.16,26.820,24.15,28.590,22.19,38.90,19.480,30.950
5,Zn,142.25,210.470,195.34,141.270,189.11,232.53,201.890,218.310
6,As,2.43,2.470,2.56,2.610,2.42,2.51,1.520,2.570
7,Se,4.79,5.990,6.77,7.370,5.21,6.39,6.150,7.100
8,Pb,1.78,2.180,1.63,1.970,1.58,1.46,1.610,2.780
9,Cd,0.63,0.970,2.27,3.350,0.84,1.95,2.200,2.890
10,Hg,0.57,0.780,0.99,1.270,0.71,1.73,0.950,1.580
11,Protein,9.80,10.400,11.30,11.500,9.10,12.70,9.300,10.500
12,OPFA,0.80,0.495,0.36,0.235,0.42,0.55,0.465,0.315
13,Lipid,7.79,7.100,4.82,2.100,5.70,6.56,6.150,2.690

In [6]:
trans = df.T

In [14]:
trans

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Metals,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
Ghagra (Clupisoma garua),0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
Koi\n (Anabas testudineus),1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
Tatkini\n (Cirrhinus reba),1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
Tengra (Mystus vittatus),2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
Batashi (Neotropius atherinoides),0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
Jatka (juvenile) Tenualosa ilisha,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
Rani (Botia dario),1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
Chanda\n (Pseudambassis ranga),2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [23]:
cols = ["FishSpecies",'Cr', 'Mn', 'Fe', 'Co', 'Cu', 'Zn', 'As', 'Se', 'Pb', 'Cd', 'Hg',
       'Protein', 'OPFA', 'Lipid']
cols

['FishSpecies',
 'Cr',
 'Mn',
 'Fe',
 'Co',
 'Cu',
 'Zn',
 'As',
 'Se',
 'Pb',
 'Cd',
 'Hg',
 'Protein',
 'OPFA',
 'Lipid']

In [9]:
trans.index

Index(['Metals', 'Ghagra (Clupisoma garua)', 'Koi\n (Anabas testudineus)',
       'Tatkini\n (Cirrhinus reba)', 'Tengra (Mystus vittatus)',
       'Batashi (Neotropius atherinoides)',
       'Jatka (juvenile) Tenualosa ilisha', 'Rani (Botia dario)',
       'Chanda\n (Pseudambassis ranga)'],
      dtype='object')

In [11]:
fish = trans.index
fish = fish[1:]
fish

Index(['Ghagra (Clupisoma garua)', 'Koi\n (Anabas testudineus)',
       'Tatkini\n (Cirrhinus reba)', 'Tengra (Mystus vittatus)',
       'Batashi (Neotropius atherinoides)',
       'Jatka (juvenile) Tenualosa ilisha', 'Rani (Botia dario)',
       'Chanda\n (Pseudambassis ranga)'],
      dtype='object')

In [16]:
trans = trans.iloc[1:]
trans

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Ghagra (Clupisoma garua),0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
Koi\n (Anabas testudineus),1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
Tatkini\n (Cirrhinus reba),1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
Tengra (Mystus vittatus),2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
Batashi (Neotropius atherinoides),0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
Jatka (juvenile) Tenualosa ilisha,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
Rani (Botia dario),1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
Chanda\n (Pseudambassis ranga),2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [17]:
trans.reset_index(inplace=True)

In [18]:
trans

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Ghagra (Clupisoma garua),0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
1,Koi\n (Anabas testudineus),1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
2,Tatkini\n (Cirrhinus reba),1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
3,Tengra (Mystus vittatus),2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
4,Batashi (Neotropius atherinoides),0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
5,Jatka (juvenile) Tenualosa ilisha,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
6,Rani (Botia dario),1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
7,Chanda\n (Pseudambassis ranga),2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [24]:
trans.columns = cols

In [25]:
trans

,FishSpecies,Cr,Mn,Fe,Co,Cu,Zn,As,Se,Pb,Cd,Hg,Protein,OPFA,Lipid
0,Ghagra (Clupisoma garua),0.78,1.93,155.47,2.27,29.16,142.25,2.43,4.79,1.78,0.63,0.57,9.8,0.8,7.79
1,Koi\n (Anabas testudineus),1.05,0.79,134.1,3.68,26.82,210.47,2.47,5.99,2.18,0.97,0.78,10.4,0.495,7.1
2,Tatkini\n (Cirrhinus reba),1.48,0.72,127.85,4.61,24.15,195.34,2.56,6.77,1.63,2.27,0.99,11.3,0.36,4.82
3,Tengra (Mystus vittatus),2.11,1.04,140.12,6.13,28.59,141.27,2.61,7.37,1.97,3.35,1.27,11.5,0.235,2.1
4,Batashi (Neotropius atherinoides),0.37,0.69,143.52,4.49,22.19,189.11,2.42,5.21,1.58,0.84,0.71,9.1,0.42,5.7
5,Jatka (juvenile) Tenualosa ilisha,1.23,1.23,124.58,4.05,38.9,232.53,2.51,6.39,1.46,1.95,1.73,12.7,0.55,6.56
6,Rani (Botia dario),1.15,1.95,164.31,4.52,19.48,201.89,1.52,6.15,1.61,2.2,0.95,9.3,0.465,6.15
7,Chanda\n (Pseudambassis ranga),2.15,2.08,183.25,5.77,30.95,218.31,2.57,7.1,2.78,2.89,1.58,10.5,0.315,2.69

In [27]:
newdf = pd.DataFrame(columns=["Values", "Fish", "Parameter"])
param = trans.columns[1:]
hm = []
for i in range(len(param)):
    for _ in range(8):
        hm.append(param[i])
        
species = trans["FishSpecies"]
species = list(species)
sp = []
for _ in range(len(param)):
    sp.append(species[:])
sparr = np.array(sp)
sparr = sparr.flatten()
newdf["Parameter"] = hm
newdf["Fish"] = sparr
vals = []
for i in range(len(param)):
    for val in trans[param[i]].values:
        vals.append(val)

In [30]:
newdf["Values"]= vals

In [31]:
newdf

     Values                               Fish Parameter
0      0.78           Ghagra (Clupisoma garua)        Cr
1      1.05         Koi\n (Anabas testudineus)        Cr
2      1.48         Tatkini\n (Cirrhinus reba)        Cr
3      2.11           Tengra (Mystus vittatus)        Cr
4      0.37  Batashi (Neotropius atherinoides)        Cr
..      ...                                ...       ...
107    2.10           Tengra (Mystus vittatus)     Lipid
108    5.70  Batashi (Neotropius atherinoides)     Lipid
109    6.56  Jatka (juvenile) Tenualosa ilisha     Lipid
110    6.15                 Rani (Botia dario)     Lipid
111    2.69     Chanda\n (Pseudambassis ranga)     Lipid

[112 rows x 3 columns]

In [32]:
newdf.to_csv("data/headfishTransformed.csv")

In [33]:
ano3 = ols("Values~Fish+Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

             df         sum_sq       mean_sq           F        PR(>F)
Fish        7.0     830.703550    118.671936    1.068289  3.902991e-01
Parameter  13.0  380355.536946  29258.118227  263.382521  3.622941e-66
Residual   91.0   10108.828575    111.086028         NaN           NaN

In [69]:
ano3 = ols("Values~Fish+Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

             df         sum_sq       mean_sq           F        PR(>F)
Fish        7.0     830.703550    118.671936    1.068289  3.902991e-01
Parameter  13.0  380355.536946  29258.118227  263.382521  3.622941e-66
Residual   91.0   10108.828575    111.086028         NaN           NaN

In [34]:
ano3 = ols("Values~Fish+Parameter+Fish*Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

/home/RHHLab/anaconda3/lib/python3.9/site-packages/statsmodels/stats/anova.py:138: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))

                  df        sum_sq       mean_sq    F  PR(>F)
Fish             7.0  8.307035e+02  1.186719e+02  0.0     NaN
Parameter       13.0  3.803555e+05  2.925812e+04  0.0     NaN
Fish:Parameter  91.0  1.010883e+04  1.110860e+02  0.0     NaN
Residual         0.0  1.051131e-24           inf  NaN     NaN

In [35]:
5.421077e-25 / 224

2.4201236607142858e-27

In [36]:
184.93 / 2.4201236607142858e-27

7.641345068516828e+28

In [165]:
newdf.anova(dv="Values", between=["Fish", "Parameter"], ss_type=2, detailed=True)

/home/RHHLab/anaconda3/lib/python3.9/site-packages/pingouin/parametric.py:1091: RuntimeWarning: invalid value encountered in double_scalars
  ms_resid = ss_resid / df_resid

             Source             SS  DF            MS  np2
0              Fish    1294.564271   7    184.937753  1.0
1         Parameter  171378.772950  13  13182.982535  1.0
2  Fish * Parameter   12556.510979  91    137.983637  1.0
3          Residual       0.000000   0           NaN  NaN

In [230]:
ano1 = ols("Values~Fish", data= newdf).fit()
im = sm.stats.anova_lm(ano1, type=1)
im

             df         sum_sq      mean_sq         F   PR(>F)
Fish        7.0    1294.564271   184.937753  0.104567  0.99795
Residual  104.0  183935.283929  1768.608499       NaN      NaN

In [231]:
ano2 = ols("Values~Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano2, type=1)
im

             df        sum_sq       mean_sq          F        PR(>F)
Parameter  13.0  171378.77295  13182.982535  93.273068  4.190503e-49
Residual   98.0   13851.07525    141.337503        NaN           NaN

In [248]:
ano3 = ols("Values~Fish+Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

             df         sum_sq       mean_sq          F        PR(>F)
Fish        7.0    1294.564271    184.937753   1.340288  2.406403e-01
Parameter  13.0  171378.772950  13182.982535  95.540187  4.116928e-47
Residual   91.0   12556.510979    137.983637        NaN           NaN

In [247]:
ano3 = ols("Values~Fish+Parameter+Fish*Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

/home/RHHLab/anaconda3/lib/python3.9/site-packages/statsmodels/stats/anova.py:138: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))

                  df        sum_sq       mean_sq    F  PR(>F)
Fish             7.0  1.294564e+03  1.849378e+02  0.0     NaN
Parameter       13.0  1.713788e+05  1.318298e+04  0.0     NaN
Fish:Parameter  91.0  1.255651e+04  1.379836e+02  0.0     NaN
Residual         0.0  5.421077e-25           inf  NaN     NaN

In [ ]:
5.421077e-25

In [237]:
X = newdf["Values"]
X = np.array(X)
X = X.reshape(-1,1)

In [239]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-0.48872062],
       [-0.48232729],
       [-0.47224551],
       [-0.4474099 ],
       [-0.4990483 ],
       [-0.47790114],
       [-0.48060601],
       [-0.45699989],
       [-0.46560629],
       [-0.49363856],
       [-0.49535984],
       [-0.48749113],
       [-0.49708112],
       [-0.48281909],
       [-0.46511449],
       [-0.46191783],
       [ 2.0877899 ],
       [ 1.55960278],
       [ 1.40862192],
       [ 1.71033775],
       [ 0.56445695],
       [ 1.82000788],
       [ 2.305163  ],
       [ 2.77089223],
       [-0.47445858],
       [-0.43978708],
       [-0.41691865],
       [-0.37954228],
       [-0.41986941],
       [-0.43068889],
       [-0.41913172],
       [-0.38839458],
       [ 0.0392206 ],
       [-0.01831934],
       [-0.08397388],
       [ 0.02520446],
       [-0.13216973],
       [ 0.20495529],
       [-0.22339758],
       [ 0.08323619],
       [ 1.51681668],
       [ 3.16973744],
       [ 2.82228474],
       [ 1.49271875],
       [ 2.6690908 ],
       [ 3.7367763 ],
       [ 3.47514172],
       [ 3.38711053],
       [-0.49511395],
       [-0.49413036],
       [-0.49191728],
       [-0.4906878 ],
       [-0.49535984],
       [-0.49314677],
       [-0.49290087],
       [-0.49167139],
       [-0.43708222],
       [-0.40757455],
       [-0.38839458],
       [-0.37364075],
       [-0.42675453],
       [-0.39773867],
       [-0.4036402 ],
       [-0.38027997],
       [-0.48650755],
       [-0.47667166],
       [-0.490196  ],
       [-0.4818355 ],
       [-0.49142549],
       [-0.49437626],
       [-0.4906878 ],
       [-0.48650755],
       [-0.49265497],
       [-0.48429447],
       [-0.45232784],
       [-0.42822992],
       [-0.48798293],
       [-0.46240962],
       [-0.45380322],
       [-0.43708222],
       [-0.49216318],
       [-0.48699934],
       [-0.4815896 ],
       [-0.47519628],
       [-0.48872062],
       [-0.46363911],
       [-0.48281909],
       [-0.46880295],
       [-0.11717   ],
       [-0.10241617],
       [-0.08028543],
       [-0.07536748],
       [-0.1343828 ],
       [-0.04585982],
       [-0.12946486],
       [-0.0999572 ],
       [-0.48896652],
       [-0.49646638],
       [-0.49978599],
       [-0.50285971],
       [-0.49831061],
       [-0.49511395],
       [-0.49720407],
       [-0.50089253],
       [-0.19118505],
       [-0.20815195],
       [-0.26421651],
       [-0.33110054],
       [-0.24257756],
       [-0.2214304 ],
       [-0.23151218],
       [-0.3165926 ]])

In [240]:
newdf["Val"] = X

In [241]:
newdf

     Values     Fish Parameter       Val
0      0.69   Ghagra        Cr -0.488721
1      0.95      Koi        Cr -0.482327
2      1.36  Tatkini        Cr -0.472246
3      2.37   Tengra        Cr -0.447410
4      0.27  Batashi        Cr -0.499048
..      ...      ...       ...       ...
107    7.10   Tengra     Lipid -0.331101
108   10.70  Batashi     Lipid -0.242578
109   11.56    Jatka     Lipid -0.221430
110   11.15     Rani     Lipid -0.231512
111    7.69   Chanda     Lipid -0.316593

[112 rows x 4 columns]

In [242]:
ano3 = ols("Val~Fish+Parameter+Fish*Parameter", data= newdf).fit()
im = sm.stats.anova_lm(ano3, type=1)
im

/home/RHHLab/anaconda3/lib/python3.9/site-packages/statsmodels/stats/anova.py:138: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))

                  df        sum_sq   mean_sq    F  PR(>F)
Fish             7.0  7.827637e-01  0.111823  0.0     NaN
Parameter       13.0  1.036249e+02  7.971145  0.0     NaN
Fish:Parameter  91.0  7.592347e+00  0.083432  0.0     NaN
Residual         0.0  2.798554e-28       inf  NaN     NaN

In [269]:
hmdf = newdf[newdf["Parameter"] != "Lipid"]
hmdf = hmdf[hmdf["Parameter"] != "OPFA"]
hmdf = hmdf[hmdf["Parameter"] != "Protein"]
hmdf.shape

(88, 4)

In [270]:
hmdf

    Values     Fish Parameter       Val
0     0.69   Ghagra        Cr -0.488721
1     0.95      Koi        Cr -0.482327
2     1.36  Tatkini        Cr -0.472246
3     2.37   Tengra        Cr -0.447410
4     0.27  Batashi        Cr -0.499048
..     ...      ...       ...       ...
83    1.24   Tengra        Hg -0.475196
84    0.69  Batashi        Hg -0.488721
85    1.71    Jatka        Hg -0.463639
86    0.93     Rani        Hg -0.482819
87    1.50   Chanda        Hg -0.468803

[88 rows x 4 columns]

In [271]:
ano3 = ols("Values~Fish+Parameter+Fish*Parameter", data= hmdf).fit()
im = sm.stats.anova_lm(ano3, type=2)
im

/home/RHHLab/anaconda3/lib/python3.9/site-packages/statsmodels/stats/anova.py:138: RuntimeWarning: divide by zero encountered in double_scalars
  (model.ssr / model.df_resid))

                  df        sum_sq       mean_sq    F  PR(>F)
Fish             7.0  1.634918e+03  2.335598e+02  0.0     NaN
Parameter       10.0  1.662832e+05  1.662832e+04  0.0     NaN
Fish:Parameter  70.0  1.217645e+04  1.739493e+02  0.0     NaN
Residual         0.0  2.849936e-25           inf  NaN     NaN

In [145]:
val = []
for i in range(len(newdf.Values)):
    val.append(round(newdf["Values"][i], 3))

In [146]:
val

[0.69,
 0.95,
 1.36,
 2.37,
 0.27,
 1.13,
 1.02,
 1.98,
 1.63,
 0.49,
 0.42,
 0.74,
 0.35,
 0.93,
 1.65,
 1.78,
 105.47,
 83.99,
 77.85,
 90.12,
 43.52,
 94.58,
 114.31,
 133.25,
 1.27,
 2.68,
 3.61,
 5.13,
 3.49,
 3.05,
 3.52,
 4.77,
 22.16,
 19.82,
 17.15,
 21.59,
 15.19,
 28.9,
 11.48,
 23.95,
 82.25,
 149.47,
 135.34,
 81.27,
 129.11,
 172.53,
 161.89,
 158.31,
 0.43,
 0.47,
 0.56,
 0.61,
 0.42,
 0.51,
 0.52,
 0.57,
 2.79,
 3.99,
 4.77,
 5.37,
 3.21,
 4.39,
 4.15,
 5.1,
 0.78,
 1.18,
 0.63,
 0.97,
 0.58,
 0.46,
 0.61,
 0.78,
 0.53,
 0.87,
 2.17,
 3.15,
 0.72,
 1.76,
 2.11,
 2.79,
 0.55,
 0.76,
 0.98,
 1.24,
 0.69,
 1.71,
 0.93,
 1.5,
 15.8,
 16.4,
 17.3,
 17.5,
 15.1,
 18.7,
 15.3,
 16.5,
 0.68,
 0.375,
 0.24,
 0.115,
 0.3,
 0.43,
 0.345,
 0.195,
 12.79,
 12.1,
 9.82,
 7.1,
 10.7,
 11.56,
 11.15,
 7.69]

In [147]:
newdf["Values"] = val